@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  margin: 0; /* Removes default browser margin */
  background-color: transparent; /* Safety to show Tailwind bg */
}

html {
  scroll-behavior: smooth;
}